*{
    padding:0px;
    margin:0px;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 50rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: inherit;
  object-fit: cover;
}

