@font-face {
    font-family: yuji;
    src: url('fonts/Jost-Regular.woff') format('woff');
}
@font-face {
    font-family: water;
    src: url('fonts/ChakraPetch-Regular.woff') format('woff');
}
body{
    font-family: yuji, sans-serif;
}
#company{
    font-family: water, sans-serif;
}
.c-item{
    height: 480px;
}
.c-item img{
    height: 100%;
    object-fit: cover;
    filter:brightness(0.6);
}

.reviews a, .newscontent a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style: none;
}
.reviews a:hover, .newscontent a:hover{
    color:blue;
    text-decoration: underline;
}
ul li a{
    text-decoration: none;
    color:white;
}
.hover-expand {
    transition: transform 0.3s ease; /* Smooth transition */
}

.hover-expand:hover {
    transform: scale(1.01); /* Slightly larger scale on hover */
}